/**
 * Place your custom styles here.
 */
.article .field--type-image{
  float: left;
  margin: 0px 20px 0px 0px;
}
.article section[rel="schema:comment"] {
  clear: left;
}

.indented{
  padding-left: 30px;
}
.indented article[typeof="schema:Comment"]{
  font-size: 0.8em;
}

article[typeof="schema:Comment"] footer{
  font-size: 0.8em;
}

section#block-disclaimer {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 10px;
	font-style: italic;
	font-size: 0.9em;
}

body{
  background-color: #eee;
}
.region-content{
  background-color: white;
  padding: 1.25em 1.5em 1.5em 1.5em;
  border: 1px solid #a7d7f9;
}
.path-user .block-region-middle section{
  margin-top: 10px;
}
.path-user .bs-region h2,
.path-user .bs-region .field .field--label
{
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
}
.block-entity-fieldtaxonomy-termname .field--name-name,
.block-entity-fieldusername .field--name-name,
.block-entity-fieldnodetitle
{
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
  margin: 0px 0px 20px 0px;
}
.logo_area{
  text-align: center;
}
.region-sidebar-first .logo img{
  margin-bottom: 20px;
}
.region-sidebar-first .menu.nav,
.region-sidebar-first .menu.nav > li{
  float: none;
}
.region-sidebar-first .menu.nav > li > a{
  padding: 0px;
}
.region-sidebar-first .menu.nav > li > a:hover{
  background: none;
}
.bs-region[title]::before{
  font-weight: 700;
  position: absolute;
  content: attr(title);
  margin-top: -18px;
}
.bs-region[title]{
  padding-top: 18px;
}

.block-views-exposed-filter-blocksearch-content-page-1{
  height: 50px;
}
.block-views-exposed-filter-blocksearch-content-page-1 form#views-exposed-form-search-content-page-1{
  float: right;
}
.block-views .article h2{
  font-size: 150%;
}

ul.links li.comment-add{
  display: none;
}
article[typeof="schema:Comment"]{
  font-size: 13px;

}
section[rel="schema:comment"]{
  max-width: 800px;
}
section[rel="schema:comment"] h2:first-child{
  /*display: none;*/
  font-size: 20px;
  border-bottom : 1px solid lightgrey;
  padding-bottom: 10px;
}
section[rel="schema:comment"] h2:nth-of-type(2){
  display: none;
}
section[rel="schema:comment"] footer{
  font-style: italic;
  font-size: 90%;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  /*width: 20%;
  padding: 5px;
  float: right;
  border: 1px solid grey;
  background-color: #f8f8ff;*/
}
.author{
  font-style: italic;
}
